@font-face {
	font-family: DejaVuSansCondensed;
	src: url('../fonts/DejaVu/DejaVuSansCondensed.ttf');
}

@font-face {
	font-family: ZawgyiFont;
	src: url('../fonts/DejaVu/zawgyi.ttf');
}

/*
@font-face {
	font-family: Source Han Serif TW bold;
	src: url('fonts/SourceHan/SourceHanSerifTW-bold.otf');
}

@font-face {
	font-family: Source Han Serif TW extralight;
	src: url('fonts/SourceHan/SourceHanSerifTW-extralight.otf');
}

@font-face {
	font-family: Source Han Serif TW Heavy;
	src: url('fonts/SourceHan/SourceHanSerifTW-heavy.otf');
}

@font-face {
	font-family: Source Han Serif TW light;
	src: url('fonts/SourceHan/SourceHanSerifTW-light.otf');
}

@font-face {
	font-family: Source Han Serif TW medium;
	src: url('fonts/SourceHan/SourceHanSerifTW-medium.otf');
}
@font-face {
	font-family: Source Han Serif TW regular;
	src: url('fonts/SourceHan/SourceHanSerifTW-regular.otf');
}
@font-face {
	font-family: Source Han Serif TW semibold;
	src: url('fonts/SourceHan/SourceHanSerifTW-semibold.otf');
}
*/

body {cursor:pointer;}
 
a:hover { color:green;text-decoration:none; }
a:visited { color:#FFF2CC;text-decoration:none; }
a:link { color:blue;text-decoration:none; }
table { table-layout:fixed;margin-top:0.0pt;margin-right:0in;margin-bottom:0in;margin-left:0in;margin-bottom:.0001pt;}
td {word-wrap:break-word;}
.r1 { vertical-align:top; width:85%;line-height:155%;font-size:25.0pt;font-family:DejaVuSansCondensed,serif;}
.m1 { vertical-align:top; width:15%;line-height:155%;font-size:25.0pt;font-family:"Myanmar Text",serif;}

.recentClickedCSSleft{text-decoration: none;border-left: 1.5px solid red;}
.recentClickedCSSright{text-decoration: none;border-right: 1.5px solid red;}

.conjtable {border:1px solid black; padding: 3px; border-collapse:collapse;}
.toprow {border:1px solid black; padding: 3px; border-collapse:collapse;}
.sidecol {border:1px solid black; padding: 3px; border-collapse:collapse;} 
.decbsmall {border:1px solid black; padding: 3px; border-collapse:collapse;}

.bld { font-weight:900;} 
.r11 {margin-left:28px;color:green;border:1px solid grey;padding:8px;background:#F7DBD0;font-size:x-large;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;-o-border-radius:4px;font-family:DejaVuSansCondensed;}
.closepopup { margin-left:45%;padding:8px;background:#d8d8d8;color:white;font-size:large;}

.note {display:inline;color:#000080}

.Sr_note {background:yellow;}

.ZawgyiFont {font-family:ZawgyiFont;}
